/oh_modules
**/node_modules
**/build
**/dist
**/tsconfig.tsbuildinfo
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.bitfun
local.properties
*.log
.DS_Store

apps/pwa/.env*
!apps/pwa/.env.example
